.box {
	font-family : Calibri;
	position : fixed;
	width : 20vw;
	height : 100vh;
	font-size : 2.5vw;
    background-color : white;
    top : 0px;
    left : 0px;
	border-right : 2px solid black;
}

.heading{
	background : ;
	margin : auto;
	padding : 1vw;
	font-size : 3vw;
	text-align : center;
	color : blue;
}


.first {
	background : white;
	margin : auto;
	padding : 1vw;
	text-align : center;
	color : blue;
}

.second {
	background : white;
	margin : auto;
	padding : 1vw;
	text-align : center;
	margin : auto;
}

.third{
	background : white;
	padding : 1vw;
	margin  : auto;
	text-align : center;
}

.fourth{
	margin : auto;
	background : white;
	padding : 1vw;
	text-align : center;
}

a {
	color : blue;text-decoration: none;
}

a:hover{
	color : red;
}

@media screen and(max-width:1200px){
    .box{
    	font : 10px;
    }
}       